.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.root > main {
  flex: 1 0 auto;
}

.footer {
  padding: var(--space-3) var(--gutter);
  border-top: var(--border-subtle);
  font-family: var(--font-mono);
  font-variant-numeric: tabular-nums;
  font-size: var(--text-12);
  color: var(--color-text-secondary);
}
